.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.button__edit {
}

.button__edit-image {
    display: block;
    width: 18px;
    height: 18px;
}

.button__add {
    max-width: 282px;
    width: 100%;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 2px;
    color: #fff;
    font-size: 16px;
    font-family: 'Inter Black';
    box-sizing: border-box;
}

.button__add-image {
    display: block;
    margin: auto;
}

.button__delete {
    display: none;
}

.button__delete-image {
    display: block;
}

.button__like-image {
    display: block;
}

.button__close {
    position: absolute;
    z-index: 2;
    top: -40px;
    right: 0;
}

.button__close-image{
    display: block;
    width: 30px;
    height: 30px;
}
@media screen and (min-width: 768px){

    .button__delete {
        display: block;
        position: absolute;
        top: 18px;
        right: 15px;
        z-index: 1;
    }

}

@media screen and (min-width: 1280px){
    .button__add {
        width: 154px;
    }
    .button__edit-image {
        width: 24px;
        height: 24px;
    }
    .button__add-image {
        /* max-width: 150px;
        height: 50px;
        object-fit: contain; */
    }
}