.post {
    border: 1px solid red;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    justify-content: center;
    padding: 0 19px;
}

.post__item {
    /* margin: auto; */
    border: 3px solid blue;
    border-radius: 10px;
    overflow: hidden;
    max-width: 282px;
}

.post__image-container {

}

.post__image {
    width: 100%;
    display: block
}

.post__description {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 25px 21px;
}

.post__name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #000;
    font-family: 'Inter Black';
    font-size: 24px;
}